<div class="header card text-center container-fluid">
    <div class="card-header">
      Informações sobre o COVID-19 em tempo real
    </div>
    <div class="card-body">
      <h5 class="header__tilte">ATENÇÃO</h5>
      <p class="card-text">A <span class="header__text--red">COVID-19</span> afeta diferentes pessoas de diferentes maneiras. A
        maioria das pessoas infectadas
        apresentará sintomas leves a moderados da doença e não precisarão ser hospitalizadas.
      </p>
    </div>
    <div class="card-footer text-muted">
      Atualizado diariamente
    </div>
  </div>