/* TABLE INFO GLOBAL */
.infocovid {
  margin-top: 2%;
}

.infocovid__title {
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0.5px 0.5px 0.5px black;

}

/* TABLE INFO GLOBAL - CORES DOS NUMEROS API */
.infocovid__table--blue {
  color: rgb(5, 17, 128);
  text-decoration: underline;
}

.infocovid__table--black {
  color: rgba(0, 0, 0, 0.699);
  text-decoration: underline;
}

.infocovid__table--green {
  color: rgb(3, 170, 3);
  text-decoration: underline;
}

/* PESQUISA POR PAÍS */
.searching {
  margin-bottom: 1%;
}

.searching__data {
  margin-left: 1%;
}

.searching__input--margin {
  margin-left: 0.5%;
}

.searching__input--margin:focus {
  background: #CCC;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

/* PESQUISA POR PAÍS - ICON  */
.searching__icon {
  margin-left: 1%;
}

.searching__icon:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}

.line {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);
}

/* ALERTA DE INPUT INFO */

/* .mouse-alert {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
} */

.mouse-alert__red {
  color: red;
  text-decoration: underline;
}

/* SELECT PARA ESTADOS */
.searching-states {
  margin-bottom: 1%;
  margin-left: 1%;
}

/* TABLE APARECE QUANDO PESQUISA */
.show-table {
  margin-top: 2%;
}

.show-table__title--black {
  text-align: center;
  color: black;
  font-weight: bold;
}

.show-table-button--margin {
  margin-bottom: 1%;
}

/* TABLE APARECE QUANDO PESQUISA - CORES DOS NUMEROS API */
.show-table__table--blue {
  color: rgb(5, 17, 128);
  text-decoration: underline;
}

.show-table__table--black {
  color: rgba(0, 0, 0, 0.699);
  text-decoration: underline;
}

.show-table__table--green {
  color: rgb(3, 170, 3);
  text-decoration: underline;
}

/* CARD INFO PAÍS  */
.country-cards__line {
  justify-content: space-around;

}

.country-cards__style {
  background-color: #595959;
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  max-width: 18rem;
  box-shadow: 1px 1px 5px 0.5px black;
}

.country-cards__style:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.8s;
}

.country-cards__title--black {
  color: black
}

.country-cards__list--shadow {
  text-shadow: 0.5px 0.5px 0.5px black;
}

.country-cards__list li::before {
  content: "•";
  color: black;
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

/* CARD INFO PAÍS - CORES DOS NUMEROS API */
.country-cards__item--black {
  color: rgba(0, 0, 0, 0.699);
  text-decoration: underline;
}

.country-cards__item--green {
  color: rgb(3, 170, 3);
  text-decoration: underline;
}

.country-cards__btn {
  margin-left: 16.5%;
}

/* MODAL */
.more-info__style {
  background-color: #595959;
  color: white;
}

.more-info__title--black {
  color: black;
  font-weight: bold;
}

.more-info__text--black {
  color: black;
}

.more-info__list--shadow {
  text-shadow: 0.5px 0.5px 0.5px black;

}

/* TODO verificar  se precisa da classe "more-info__list" ou ul somente */
ul {
  list-style: none;
}

.more-info__list li::before {
  content: "•";
  color: black;
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

/* PAGINAÇÃO */
.button-page {
  text-align: center;
}

.button-page__style {
  margin-top: 1%;
  margin-bottom: 1%;
}

/* PAGINAÇÃO TEXTO */
.pag-text {
  margin-top: 1%;
  margin-bottom: 1%;
  font-style: oblique;
  font-weight: bolder;
  text-align: center;
}

/* FOOTER */
.footer-info {
  background-color: #262626;
}

seletor {
  transition: x;
  /* lida por navegadores modernos */
  -moz-transition: x;
  /* para Mozilla antigo */
  -o-transition: x;
  /* para Opera antigo */
  -webkit-transition: x
    /* para Chrome e similares antigos */
}
