/* You can add global styles to this file, and also import other style files */
body {
  background: #A6A6A6;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* toda as <ul> home e infoCovid-19 */
ul {
  list-style: none;
}

/* TODO verificar se pode ficar aqui */
seletor {
  transition: x;
  /* lida por navegadores modernos */
  -moz-transition: x;
  /* para Mozilla antigo */
  -o-transition: x;
  /* para Opera antigo */
  -webkit-transition: x
    /* para Chrome e similares antigos */
}
