/* You can add global styles to this file, and also import other style files */
body {
  background: #A6A6A6;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* toda as <ul> home e infoCovid-19 */
ul {
  list-style: none;
}